<div class="flex flex-col gap-2 w-full">
    <div class="flex justify-between items-center w-full h-[15px]">
        <label [for]="id()" class="text-[10px] font-bold text-slate-400 dark:text-slate-500 uppercase tracking-[0.1em]">{{
            label() }}</label>
        @if (error()) {
        <span class="text-rose-500 text-[10px] font-semibold uppercase tracking-[0.05em]">{{ error() }}</span>
        }
    </div>
    <p-select [inputId]="id()" [options]="options()" [(ngModel)]="value" [optionLabel]="optionLabel()"
        [optionValue]="optionValue()" [placeholder]="placeholder()" [disabled]="disabled()" [appendTo]="appendTo()"
        (ngModelChange)="onValueChange($event)" (onBlur)="onBlur()" class="form-select"
        [class.select-error]="error()" />
</div>
