:host {
    display: block;
    width: 100%;
}

:host ::ng-deep .form-datepicker {
    width: 100%;
}

:host ::ng-deep .form-datepicker .p-inputtext {
    @apply w-full rounded-xl py-2.5 px-3.5 border-[1.5px] border-slate-200 bg-white text-slate-800 text-sm transition-all outline-none;
}

.dark :host ::ng-deep .form-datepicker .p-inputtext {
    @apply border-slate-700 bg-slate-900 text-slate-100;
}

:host ::ng-deep .form-datepicker .p-inputtext:hover {
    @apply border-slate-400;
}

.dark :host ::ng-deep .form-datepicker .p-inputtext:hover {
    @apply border-slate-600;
}

:host ::ng-deep .form-datepicker .p-inputtext:focus {
    @apply border-indigo-500 ring-4 ring-indigo-500/10;
}

:host ::ng-deep .form-datepicker .p-datepicker-trigger {
    @apply border-[1.5px] border-slate-200 border-l-0 rounded-r-xl bg-slate-50 text-slate-500 transition-all;
}

.dark :host ::ng-deep .form-datepicker .p-datepicker-trigger {
    @apply border-slate-700 bg-slate-800 text-slate-400;
}

:host ::ng-deep .form-datepicker .p-datepicker-trigger:hover {
    @apply bg-slate-100 text-indigo-600;
}

.dark :host ::ng-deep .form-datepicker .p-datepicker-trigger:hover {
    @apply bg-slate-700 text-indigo-400;
}

:host ::ng-deep .datepicker-error .p-inputtext {
    @apply border-rose-500;
}

:host ::ng-deep .datepicker-error .p-datepicker-trigger {
    @apply border-rose-500;
}