<div class="flex flex-col gap-1.5 w-full">
    <label [for]="id()" class="text-sm font-semibold text-slate-700">{{ label() }}</label>
    <p-datepicker [inputId]="id()" [(ngModel)]="value" [dateFormat]="dateFormat()" [showIcon]="showIcon()"
        [placeholder]="placeholder()" [disabled]="disabled()" styleClass="form-datepicker"
        [class.datepicker-error]="error()" (onSelect)="onDateChange($event)" (onClear)="onDateChange(null)"
        (onBlur)="onBlur()" appendTo="body" />
    @if (error()) {
    <small class="text-rose-500 text-xs font-medium">{{ error() }}</small>
    }
</div>