<div class="flex flex-col gap-2 w-full">
    <div class="flex justify-between items-center w-full h-[15px]">
        <label [for]="id()" class="text-[10px] font-bold text-slate-400 dark:text-slate-500 uppercase tracking-[0.1em]">{{
            label() }}</label>
        @if (error()) {
        <span class="text-rose-500 text-[10px] font-semibold uppercase tracking-[0.05em]">{{ error() }}</span>
        }
    </div>

    @if (icon()) {
    <p-iconfield [iconPosition]="iconPosition()">
        <p-inputicon><i [class]="icon()!"></i></p-inputicon>
        <input pInputText [id]="id()" [type]="type()" [placeholder]="placeholder()" class="form-input w-full !pl-10"
            [class.input-error]="error()" [disabled]="disabled()" [(ngModel)]="value"
            (ngModelChange)="onValueChange($event)" (blur)="onBlur()" />
    </p-iconfield>
    } @else {
    <input pInputText [id]="id()" [type]="type()" [placeholder]="placeholder()" class="form-input w-full"
        [class.input-error]="error()" [disabled]="disabled()" [(ngModel)]="value"
        (ngModelChange)="onValueChange($event)" (blur)="onBlur()" />
    }
    @if (hint() && !error()) {
    <small class="text-slate-400 text-xs">{{ hint() }}</small>
    }
</div>
