:host {
    display: block;
    width: 100%;
}

:host ::ng-deep .form-input.p-inputtext {
    @apply w-full rounded-xl py-2.5 px-3.5 border-[1.5px] border-slate-200 bg-white text-slate-800 text-sm transition-all outline-none;
}

.dark :host ::ng-deep .form-input.p-inputtext {
    @apply border-slate-700 bg-slate-900 text-slate-100;
}

:host ::ng-deep .form-input.p-inputtext:hover {
    @apply border-slate-400;
}

.dark :host ::ng-deep .form-input.p-inputtext:hover {
    @apply border-slate-600;
}

:host ::ng-deep .form-input.p-inputtext:focus {
    @apply border-indigo-500 ring-4 ring-indigo-500/10;
}

:host ::ng-deep .form-input.p-inputtext::placeholder {
    @apply text-slate-400;
}

:host ::ng-deep .input-error.p-inputtext {
    @apply border-rose-500;
}

:host ::ng-deep .input-error.p-inputtext:focus {
    @apply ring-rose-500/10;
}