:host {
    display: block;
    width: 100%;
}

:host ::ng-deep .form-select.p-select {
    @apply w-full rounded-xl border-[1.5px] border-slate-200 bg-white text-slate-800 text-sm transition-all duration-200;
}

.dark :host ::ng-deep .form-select.p-select {
    @apply border-slate-700 bg-slate-900 text-slate-100;
}

:host ::ng-deep .form-select:hover {
    @apply border-slate-400;
}

.dark :host ::ng-deep .form-select:hover {
    @apply border-slate-600;
}

:host ::ng-deep .form-select.p-focus,
:host ::ng-deep .form-select:focus-within {
    @apply border-indigo-500 ring-4 ring-indigo-500/10;
}

:host ::ng-deep .select-error .form-select {
    @apply border-rose-500;
}