<div class="flex flex-col gap-2 w-full">
    <label [for]="id()" class="text-[10px] font-bold text-slate-400 dark:text-slate-500 uppercase tracking-[0.1em]">{{
        label() }}</label>

    @if (icon()) {
    <p-iconfield [iconPosition]="iconPosition()">
        <p-inputicon><i [class]="icon()!"></i></p-inputicon>
        <input pInputText [id]="id()" [type]="type()" [placeholder]="placeholder()" class="form-input w-full !pl-10"
            [class.input-error]="error()" [disabled]="disabled()" [(ngModel)]="value"
            (ngModelChange)="onValueChange($event)" (blur)="onBlur()" />
    </p-iconfield>
    } @else {
    <input pInputText [id]="id()" [type]="type()" [placeholder]="placeholder()" class="form-input w-full"
        [class.input-error]="error()" [disabled]="disabled()" [(ngModel)]="value"
        (ngModelChange)="onValueChange($event)" (blur)="onBlur()" />
    }
    @if (error()) {
    <small class="text-rose-500 text-xs font-medium">{{ error() }}</small>
    } @else if (hint()) {
    <small class="text-slate-400 text-xs">{{ hint() }}</small>
    }
</div>
