:host ::ng-deep {
    .p-datatable {
        border-radius: 12px;
        overflow: hidden;
        border: 1px solid #e2e8f0;
    }

    .p-datatable .p-datatable-thead>tr>th {
        background: #f8fafc;
        color: #475569;
        font-weight: 600;
        padding: 1rem;
    }

    .p-datatable .p-datatable-tbody>tr>td {
        padding: 1rem;
        color: #1e293b;
    }
}