<div class="flex flex-col gap-2 w-full">
    <label [for]="id()" class="text-[10px] font-bold text-slate-400 dark:text-slate-500 uppercase tracking-[0.1em]">{{
        label() }}</label>
    <p-datepicker [inputId]="id()" [(ngModel)]="value" [dateFormat]="dateFormat()" [showIcon]="showIcon()"
        [placeholder]="placeholder()" [disabled]="disabled()" styleClass="form-datepicker" [timeOnly]="timeOnly()"
        [showTime]="timeOnly()" [hourFormat]="hourFormat()" [class.datepicker-error]="error()"
        [selectionMode]="selectionMode()" [appendTo]="appendTo()" (ngModelChange)="onDateChange($event)"
        (onClear)="onDateChange(null)" (onBlur)="onBlur()" />
    @if (error()) {
    <small class="text-rose-500 text-xs font-medium">{{ error() }}</small>
    }
</div>